# MongoDB
MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@app.egadkyq.mongodb.net/?appName=App

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_REGION=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/google/callback

# JWT
JWT_SECRET=your_jwt_secret_key

# App
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200

# TMDB
TMDB_API_TOKEN=