/* You can add global styles to this file, and also import other style files */


/* frontend/src/styles.scss */
html, body {
    height: 100%;
    margin: 0;
    background-color: #f8fafc; /* Fondo general de la app */
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }